{% extends 'blog/base.html' %}
{% load static%}

{% block content %}
<div class="container jumbotron">
    <h1 class="jumbotron"><strong>Hi! I´m Jonatas Ribeiro.</strong></h1>
    <br>
    <img id="profile_pic" src="{% static 'images/profile_picture_geek.jpeg' %}" alt="File Not Found" >
    <br>
    <p>
        Hi, my name is Jonatas Ribeiro, currently living in Florianópolis, Brazil.
        I'm a Electronics Engineer and studied at the Federal university of Santa Catarina.
    </p>
    <p>
        My major subjects of study on electronics engineering back in college were: 
        Telecommunication systems, IoT, Electronic Circuits, Biomedical Engineering, 
        Software Development and Embedded systems.
    </p>
    <p>
        I have great hard skills when producing data for technology management purposes and when dealing with topics about electronics.
         I can also express myself easily on technical subjects to achieve the ideal decision making.
    </p>
    <p>
        <ul>
            <li>
                Experience on research and development activities about augmented reality technology, 
                telecommunication systems, IoT and other tech trends.
                 Some of these activities are related to technology application on hospital environment 
                 and staff instruction on medical devices functionality.
            </li>
            <li>
                Technical maintenance capability, finding and applying solutions on fast paced environment.
            </li>
            <li>
                Soft skills for intercommunication, 
                people management and critical and 
                analytical thinking on administrative or production processes.
            </li>
        </ul>
    </p>
    <br>
    <p>
        <strong>What i do love to work on:</strong>
        <ul>
            <li>
                Telecommunication systems
            </li>
            <li>
                Software Development;
            </li>
            <li>
                Biomedical Engineering
            </li>
            <li>
                IoT and 4.0 industry;
            </li>
            <li>
                Management;
            </li>
            <li>
                Data Engineering;
            </li>
        </ul>
    </p>
    <br>
    <div class="col-md-8">
        
<!-- Table number 1-->
       
        <table border="1">
            <thead>
                <th>Table Head1</th>
                <th>Table Head2</th>
                <th>Table Head3</th>
            </thead>
            <tr>
                <td>250</td>
                <td>red</td>
                <td>usa</td>
            </tr>
            <tr>
                <td>323</td>
                <td>africa</td>
                <td>black</td>
            </tr>
        </table>
<br>
<h3 id="spectrum_title">This is a test to create a color spectrum</h3>
<!-- table number 2 -->
<table id="table_2">
    <tr>
        <td class="color_table_cell" id="cell_1"></td>
        <td class="color_table_cell" id="cell_2"></td>
        <td class="color_table_cell" id="cell_3"></td>
        <td class="color_table_cell" id="cell_4"></td>
        <td class="color_table_cell" id="cell_5"></td>
    </tr>
</table>
<!-- forms -->
        <form action="" method="POST">
            <div>
                <input type="text" placeholder="Type text here">
            </div>
            <br>
            <div>
                <input type="textarea">
            </div>
            <br>
            <input type="email" placeholder="Type your email " required>
            <br>
            <div >
                <!-- radio input -->
                <h4>this is just a simple test for learning purposes on radio buttons and inputs</h4>
                <label for="test">Test</label>
                <input id='test' type="radio" name="tst" value="test1">

                <label for="test2">test2</label>
                <input id="test2" type="radio" name="tst" value="test2">
            </div>
            <br>

            <!-- password input -->
            <div>
                <h3>Password input type</h3>
                <input type="password">
            </div>
            <br>
            <!-- select input -->
            <div>
                <h3> this is a select input test</h3>
                <select name="test" id="">
                    <option value="Great">5</option>
                    <option value="Average">3</option>
                    <option value="Could be better">2</option>
                    <option value="Horrible">1</option>
                    <option value="bad">0</option>
                </select>
            </div>
           <br>
            
            <!-- submit input -->
            <div>
                <h3>Submit input</h3>
                <input type="submit" value="Enviar">
            </div>
            
            <br>
        </form>
    </div>
</div>



{% endblock %}