<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonatas' Personal Blog </title>
    <!--Bootstrap-->
        <!--CSS StyleSheet-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!--Jquery,Popper and JS-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--Medium Style Editor-->
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <!--Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- icons library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Body Block -->


<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand bigbrand" href="{% url 'post_list' %}"><i class="fa fa-fw fa-home"></i> Home</a>
        <!-- <a class="active" href="{% url 'post_list' %}"><i class="fa fa-fw fa-home"></i> Home</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'about' %}">About Me <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://github.com/jonriber">My GitHub Profile</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://www.linkedin.com/in/jonatas-magno-ribeiro/">My LinkedIn Profile</a>
            </li>
          </ul>
        </div>
        <!-- lado direito da navbar -->
        <div >
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active " href="#" id="nav_drop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-user"></i> {{ user.username }} </a>
                <!-- dropdown menu -->
                <div class="dropdown-menu dropdown-menu-right active bg-dark" aria-labelledby="nav_drop">
                  <a class="dropdown-item active bg-dark" href="/admin">Django Admin</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active bg-dark" href="{% url 'post_new' %}"> New Post</a>
                  <a class="dropdown-item active bg-dark" href="{% url 'post_draft_list' %}"> Drafts</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item active bg-dark" href="{% url 'logout' %}"> Logout</a>
                </div>
              </li>
              
                {% else %}
                <li><a class="nav navbar-right nav-link active" href="{% url 'login' %}">
                  <i class="fa fa-fw fa-user"></i> Login</a></li>
                {% endif %}
            </ul>
        </div>
      
      </nav>
    <!--This is my content-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content%}

                {% endblock %}
            </div>
        </div>
    </div>
    
    
</body>
</html>