{% extends 'blog/base.html' %}
{% block content %}
<div class="jumbotron">
    <h1 class="posttitle"> {{ post.title }}</h1>
    {% if post.published_date %}
        <div class="date postdate">
            {{ post.published_date }} 
        </div>
    
    {% else%}
        <a class="btn btn-success" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif%}
    
    <p class="postcontent"> {{ post.text|safe|linebreaksbr }}</p>
    <br>
    <!--post image -->
    {% if post.image %}
    <div class="container">
            <img src="{{ post.image.url }} " alt="File Missing" width="350px" height="350">
    </div>
    {% endif%}
    
    {% if user.is_authenticated %}
    
    <a class="btn btn-warning " href="{% url 'post_edit' pk=post.pk %}">
        Edit
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a class="btn btn-danger " href="{% url 'post_remove' pk=post.pk %}">
        Remove
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>


{% endif %}

<hr>

<a class="btn btn-info btn-comments" href="{% url 'add_comment_to_post' pk=post.pk%}">
    Add Comment
</a>

<div class="container">
    {% for comment in post.comments.all %}
    <br>
        {% if user.is_authenticated or comment.approved_comment %}
            {{ comment.created_date }}
                {% if not comment.approved_comment %}
                <a class="btn btn-default " href="{% url 'comment_remove' pk=comment.pk %}">
                    Remove
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-primary " href="{% url 'comment_approve' pk=comment.pk %}">
                    Approve
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                {% endif %}

            <p>{{ comment.text|safe|linebreaks }}</p>
            <p>Posted by:{{ comment.author}}</p>
        {% endif%}
        {% empty %}
                <p>No Comments </p>
    {% endfor%}
</div>

{% endblock %}