{% extends 'blog/base.html' %}
{% block content %}
<div class="centerstage ">
    {% for post in post_list %}
        <div class="post jumbotron">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                <p>Published On: {{ post.published_date|date:"d-m-Y" }}</p>
            </div>
            <div>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments:{{ post.approve_comments.count }}</a>
            </div>
        </div>

    {% endfor %}
</div>

{% endblock %}