body{
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.bigbrand{
    font-size: 1.6em;
    font-style: bold;
    
}
.navbar a:hover{
    background-color: rgb(66, 71, 78);
}
.nav-username{
    font: outline;
    font-style: oblique;
    font-size: medium;
    font: bold;
}
.centerstage{
    margin-left: auto;
    margin-right: auto;
}
.postdate{
    text-align: center;
}

.btn-comment{
    position: absolute;
    right: 0px;
}
.post{
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    
}

